
@{
    ViewData["Title"] = "Bachelor";
}



<div class="container pt-5">


    
    <div class="row text-danger text-center">
        <h3>Admission pour le Bachelor</h3>
    </div>

    <div>
        <h4>Inscription en première année</h4>
        <h5>Test obligatoire d'entrée</h5>

        <h6>Périodes :</h6>
        <ul>
            <li>Test 1 : septembre ;</li>
            <li>Test 2 : octobre ;</li>
            <li>Test 3 : février.</li>
        </ul>

        <h6>Dossier :</h6>
        <ul>
            <li>Copie légalisée du Baccalauréat (ou diplôme équivalent) et du relevé de notes ;</li>
            <li>4 photos d’identité ;</li>
            <li>Copie légalisée d’une pièce d’identité ;</li>
            <li>Copie légalisée de l’acte de naissance ;</li>
            <li>Copie légalisée du certificat de nationalité ;</li>
            <li>Copies légalisées des bulletins de notes de la classe Terminale.</li>
        </ul>
    </div>


    <div class="pt-5">
        <h4>Transfert de crédit (inscription en deuxième année ou troisième année)</h4>
        <h5>Test obligatoire d'entrée</h5>

        <h6>Dossier :</h6>
        <ul>
            <li>Copie légalisée du Baccalauréat (ou diplôme équivalent) et du relevé de notes ;</li>
            <li>4 photos d’identité ;</li>
            <li>Copie légalisée d’une pièce d’identité ;</li>
            <li>Copie légalisée de l’acte de naissance ;</li>
            <li>Copie légalisée du certificat de nationalité ;</li>
            <li>Copies légalisées des bulletins de notes de la classe Terminale.</li>
            <li>Relevés de notes du programme Bachelor antérieur.</li>
        </ul>
        <p>NB : Possibilité de s’inscrire en troisième année pour les détenteurs d’un BTS.</p>
    </div>



    <div class="">
        <h5 class="py-5">Frais d’études pour les programmes de Bachelors (3 ans) par année :</h5>
        
        <div class="table-responsive">
            <table class="table">
               <thead class="table-primary">
                    <tr>
                        <th>POINTS</th>
                        <th>POURCENTAGE DE BOURSE D’ÉTUDES</th>
                        <th>MONTANT DE BOURSE D’ÉTUDES OCTROYÉE PAR UMEF</th>
                        <th>MONTANT DE FRAIS D’ÉTUDES PAYÉ PAR ÉTUDIANT</th>
                    </tr>
               </thead>
               <tbody>
                   <tr>
                        <td>De 85 à 100</td>
                        <td>100 %</td>
                        <td>1.750.000 FCFA</td>
                        <td>0</td>
                   </tr>
                    <tr>
                        <td>De 75 à 84</td>
                        <td>60 %</td>
                        <td>1.050.000 FCFA</td>
                        <td>700.000 FCFA</td>
                    </tr>
                    <tr>
                        <td>De 65 à 74	</td>
                        <td>50 %</td>
                        <td>875.000 FCFA</td>
                        <td>875.000 FCFA</td>
                    </tr>
                    <tr>
                        <td>De 50 à 64</td>
                        <td>0 %</td>
                        <td>0</td>
                        <td>1.750.000 FCFA</td>
                    </tr>

               </tbody>
            </table>
        </div>



    </div>


</div>