@{
    ViewData["Title"] = "Ecole d'ingénieur";
}



<div class="container pt-5">



    <div class="row text-danger text-center pb-5">
        <h4>Ecole d'ingénieurs</h4>
    </div>

    <div class="row">
        <div class="col">
            <p class="centerText">
                Une école d’ingénieurs est en préparation très avancée pour ouvrir courant 2023. Swiss Umef University 
                of Niger a déjà noué un partenariat stratégique déterminant avec le groupe français de formation 
                d’ingénieurs. Avec cette initiative, Swiss Umef University of Niger entend accompagner 
                le gouvernement nigérien dans son objectif de former plus de cinquante mille ingénieurs dans les années 
                à venir. Pour notre institution, il est essentiel de promouvoir des formations orientées vers des filières 
                qui contribueront significativement au développement de compétences scientifiques, techniques, 
                technologiques et industrielles. Et surtout, l’apprentissage doit être appuyé par des dispositifs 
                matériels pertinents en machines-outils, équipements de laboratoires, etc.
            </p>
        </div>

        <div class="col">
            <img class="w-100" src="~/Images/IMG_8147.jpg" />
        </div>
    </div>    

</div>