@{
    ViewData["Title"] = "Entreprenariat";
}

<div class="container pt-5">
    <div class="row">
        <div class="col-8 text-center my-auto">
            <img class="img-fluid rounded pt-2 " src="~/Images/Swiss-Umef-Niger_1.jpg" />
            <p class="pt-3">Swiss Umef University of Niger développe un mécanisme d’accompagnement des étudiants dans leurs projets d’entreprenariat pos-études.</p>
        </div>

        <div class="col-4">
            <img class=" pb-1 img-fluid w-75" src="~/images/IMG_4780.JPG" />
            <img class="  pb-1 img-fluid  w-75 " src="~/images/IMG_2030.JPG" />
            <img class="  pb-1 img-fluid   w-75" src="~/images/IMG_9881.JPG" />
        </div>

    </div>
</div>
<div class="container">
    <div class="text-danger title">
        <p><strong>Thèmes de séminaires :</strong></p>
    </div>
    <div>
        <p>
            Swiss Umef University of Niger met à la disposition des milieux de décision des thèmes de haute réflexion sur les politiques
            sectorielles à promouvoir en séminaires et symposiums nationaux.
        </p>

        <ul>
            <li>Attractivité et marketing territorial ;</li>
            <li>Relance et développement intégré de l'activité économique en situation post-conflit et post-catastrophe ; </li>
            <li>Relance et développement intégré de l'activité économique en situation post-conflit et post-catastrophe ; </li>
            <li>Renforcement des capacités des professionnels des filières agricoles ;</li>
            <li>Symposium national sur la création de richesse et d'emplois ; </li>
            <li>Symposium sur la gestion stratégique de l’Investissement Direct Etrangers (IDE) ; </li>
            <li>Symposium sur la promotion de l’Investissement Direct Etranger (IDE) ; </li>
            <li>Symposium sur la promotion des exportations ;</li>
            <li>Symposium sur la réforme des entreprises publiques pour les transformations structurelles ;</li>
            <li>Symposium sur le climat des affaires ; </li>
            <li>Symposium sur le développement intégré du secteur privé ; </li>
            <li>Symposium sur le leadership transformationnel de l'Etat ; </li>
            <li>Symposium sur le rôle du ministère du commerce dans la promotion économique ; </li>
            <li>Symposium sur le rôle du ministère du plan ; </li>
            <li>Symposium sur les politiques industrielles ; </li>
            <li>Symposium sur les secteurs des services et industries créatives ; </li>
            <li>Symposium sur les services d'appui aux entreprises (Business Development Service).</li>
        </ul>
    </div>
</div>
