@{
    ViewData["Title"] = "Etudiant en formation initiale";
}

<div class="container pt-5">



    <div class="row text-danger text-center pb-5">
        <h4>Etudiants en formation initiale</h4>
    </div>

    <div class="row">
        <div class="col">
            <p class="centerText">
                Conformément à la doctrine de rendre les formations accessibles à ceux qui peuvent les suivre, Swiss UMEF 
                offre gratuitement des bourses d'études issus de familles modestes. Plus de cinquante bourses furent
                déjà accordées en cinq ans. Un test de sélection est organisé pour ce faire.
            </p>
        </div>

        <div class="col">
            <img class="w-100" src="~/Images/IMG_0046.JPG" />
        </div>
    </div>    

</div>