@{
    ViewData["Title"] = "Fonctionnaire";
}



<div class="container pt-5">




    <div class="row pt-5">
        <div class="col">
            <div class="text-danger title pt-3">
                <p><strong>Bourses d’études aux fonctionnaires de l’administration publique</strong></p>
            </div>
            <p class="centerText">
                Dans le cadre de son appui au renforcement du capital humain national, Swiss Umef University of Niger
                octroie régulièrement depuis 2019 des bourses à des fonctionnaires de l‘Etat pour engager des parcours
                de Master dans les filières de gestion. Plus de cent diplômés sont déjà sortis de ce mécanisme dont le
                lancement est apprécié, félicité et encouragé par les plus hautes autorités du pays.
            </p>
        </div>

        <div class="col">
            <img class="w-100" src="~/images/livre-3.jpeg" />
        </div>
    </div>

</div>