
@{
    ViewData["Title"] = "Formation_Master";
}




    
  <div class="container pt-5">

     

      <div class="row text-danger pb-5">
        <h3>En formations initiales, notre offre pour un Master en deux ans après le Bachelor s’articule autour des filières suivantes :</h3>
        </div>

    <div class="row">
        <div class="col">
          <div class="card" >
                <img src="~/images/IMG_3091.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                    <p class="card-text">Droit public</p>
              </div>
           </div>
        </div>

        <div class="col">
          <div class="card" >
                    <img src="~/images/IMG_3094.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                     <p class="card-text">Leadership & Management</p>
              </div>
        </div>
      </div>

   </div>
   


    <div class="row py-5">
        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_0067.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Commerce international</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_0854.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Entreprenariat et innovation</p>
                </div>
            </div>
        </div>

    </div>




  </div>


   
