
@{
    ViewData["Title"] = "Formation_Bachelor";
}




    
  <div class="container pt-5">

     

      <div class="row text-danger">
            <h3>En formations initiales, notre offre pour un Bachelor en trois ans après le Bac, est déclinée dans les filières suivantes:</h3>
        </div>
       <!-- Ecole de droit-->
        <div class="row text-danger my-5 text-start">
        <h5> Ecole de droit</h5>
        </div>
    <div class="row">
        <div class="col">
          <div class="card" >
                <img src="~/images/IMG_3074.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                    <p class="card-text">Droit public</p>
              </div>
           </div>
        </div>

        <div class="col">
           <div class="card" >
                <img src="~/images/IMG_0177.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                    <p class="card-text">Droit privé</p>
              </div>
        </div>
      </div>

        <div class="col">
          <div class="card" >
                    <img src="~/images/IMG_1080.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                     <p class="card-text">Leadership & Management</p>
              </div>
        </div>
      </div>

   </div>
   
    <div class="row py-5">
        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_3093.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                    <p class="card-text">Droit des affaires</p>
              </div>
           </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_3067.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                    <p class="card-text">Diplomatie et relations internationales</p>
              </div>
        </div>
        </div>
    </div>
    <!-- Ecole de droit-->


    <!-- Ecole des affaires-->
    <div class="row text-danger my-5 text-start">
        <h5> Ecole d'affaires</h5>
        </div>

    <div class="row">
        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_3091.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Management d'entreprises</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_9651.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Finance d'entreprises</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_0457.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Comptabilité d'entreprises</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row py-5">
        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_3094.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Commerce international</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_0003.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Marketing et communication</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_0458.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Entreprenariat et innovation</p>
                </div>
            </div>
        </div>

    </div>
    <!-- Ecole des affaires-->



    <!-- Ecole de diplomatie-->
        <div class="row text-danger mt-5 text-start">
        <h5> Ecole de diplomatie</h5>
        </div>  
        <div class="row py-5">
        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_3518.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                    <p class="card-text">Relations Internationales et diplomatie</p>
              </div>
           </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="~/images/IMG_3518.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                    <p class="card-text">Sciences politiques</p>
              </div>
        </div>
        </div>
    </div>
    <!-- Ecole de diplomatie-->



  </div>


   
