
@{
    ViewData["Title"] = "Master";
}

<div class="container pt-5">



    <div class="row text-danger text-center">
        <h3>Admission pour le Master</h3>
    </div>

    <div>
        <h4>Inscription en première année</h4>
        <h5>Etude de dossiers et entretien avec le candidat</h5>

        <h6>Périodes : septembre, octobre et février</h6>

        <h6>Dossier :</h6>
        <ul>
            <li>Copie légalisée du Licence (ou d'un diplôme équivalent);</li>
            <li>Copie légalisée du relevé des notes de licence ;</li>
            <li>Copie légalisée du Baccalauréat (ou d’un diplôme équivalent) ;</li>
            <li>Lettre de motivation ;</li>
            <li>CV ;</li>
            <li>Copie légalisée d’une pièce d’identité ;</li>
            <li>Copie légalisée d’un acte de naissance ; </li>
            <li>Copie légalisée du certificat de nationalité ;</li>
        </ul>
    </div>


    <div class="pt-5">
        <h4>Transfert de crédit (inscription en deuxième année d’un Master)</h4>
        <h5>Etude de dossiers et entretien avec le candidat</h5>

        <h6>Dossier :</h6>
        <ul>
            <li>Copie légalisée du Licence (ou d'un diplôme équivalent);</li>
            <li>Copie légalisée du relevé des notes de licence ;</li>
            <li>Copie légalisée du Baccalauréat (ou d’un diplôme équivalent) ;</li>
            <li>Lettre de motivation ;</li>
            <li>CV ;</li>
            <li>Copie légalisée d’une pièce d’identité ;</li>
            <li>Copie légalisée d’un acte de naissance ; </li>
            <li>Copie légalisée du certificat de nationalité ;</li>
            <li>Copie légalisée du relevé des notes de la première année.</li>
        </ul>
        <p>NB : Possibilité de s’inscrire en troisième année pour les détenteurs d’un BTS.</p>
    </div>



    <div class="">
        <h5 class="py-5">Frais d’études pour les programmes de Masters I et II (2 ans) par année :</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-primary">
                    <tr>
                        <th>PROGRAMME</th>
                        <th>FRAIS D’ÉTUDES PAR ANNÉE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Master I</td>
                        <td>1.850.000 FCFA</td>
                    </tr>
                    <tr>
                        <td>Master II	</td>
                        <td>1.850.000 FCFA</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>


</div>



