@{
    ViewData["Title"] = "Nouveau campus";
}



<div class="container pt-5">

    <div class="row text-danger text-center pb-5">
        <h3>Nouveau campus</h3>
    </div>

    <div class="row ">
        <div class="col">
            <p class="centerText">
                Au Niger SWISS UMEF a opté pour de grands investissements structurants visant à renforcer son impact sur l’économie, 
                mais surtout à dévoiler à la société nigérienne son pari sur l’avenir. Son nouveau campus en chantier au quartier 
                Terminus de Niamey est la preuve la plus patente que l’université est au Niger pour durer et qu’elle consent à faire 
                bénéficier le Niger des retombées financières de son projet. Le complexe induira le développement de nouveaux services
                pour la ville et le quartier.
                <br />
                Le bâtiment principal offre plus de 10 000 (dix mille) mètres carrés d’espaces utilisables sur quatre niveaux 
                (RDC+3). De l’espace est prévu pour l’administration, les enseignants, les événements, un centre de recherche, 
                une bibliothèque, un restaurant et des salles de cours et amphithéâtres pour 4000 étudiants répartis dans les 
                différentes écoles de l’université.
                <br />
                Le complexe est conçu pour être autonome en énergie électrique et en eau. Une centrale solaire d’1 MW est 
                prévue. Deux forages en eaux profondes sont déjà opérationnels.
                <br />
                 La bibliothèque proposera une offre de 50 mille ouvrages en formats physique et numérique et disposera de 200 
                 terminaux connectés aux bibliothèques numériques du monde.
                 <br />
                 Le nouveau campus sera réceptionné courant 2023.
            </p>
        </div>

        <div class="col">
            <img class="w-100" src="~/Images/222.JPG" />
        </div>
    </div>

    <div class="row pt-5">
        <div class="col">
            <img class="w-100" src="~/Images/333.JPG" />
        </div>
        <div class="col">
            <h5 class="pt-5">Un campus orienté vers le numérique</h5>
            <p class="centerText">              
                Le renforcement du cadre éducatif au Niger est tributaire d’une consolidation de sa digitalisation. 
                C’est pourquoi la technologie numérique est au centre du dispositif opérationnel du nouveau campus. 
                La gestion administrative, les formations, la bibliothèque, les délivrances de documents, l’accès et 
                la surveillance du campus, la signalétique, l’information en direction de toutes les catégories d’usagers, 
                ainsi que les diverses interactions entre les usagers eux-mêmes (administration, enseignants et étudiants), 
                seront intégrés dans une base de données. Le campus UMEF sera connecté à l’Internet par une fibre optique.

            </p>
        </div>

        
    </div>

    <div class="row pt-5">
        <div class="col">
            <h5 class="">Un campus respectueux de l’environnement</h5>
            <p class="centerText">
               Le nouveau campus UMEF fonctionnera de manière autonome à 100% avec de l’énergie solaire et recyclera 
            ses eaux usées pour arroser sa pelouse et ses arbres. L’université a prévu d’offrir au quartier l’éclairage 
            public avec des lampadaires solaires.
            Une politique rigoureuse de gestion de déchets sera mise en œuvre pour d’une part en produire moins, 
            et d’autre part gérer dans une optique de durabilité ce qui est produit.
            </p>
            <h5 class="">Une infirmerie pour les premiers soins au profit de la communauté Umef et du voisinage du quartier.</h5>
            <p class="centerText">
            Les étudiants, enseignants, membres de l’administration et le proche voisinage du quartier du nouveau campus 
            bénéficieront gratuitement de soins de santé auprès d’une infirmerie aménagée sur le campus.
        </p>
        </div>

        <div class="col ">
            <img class="w-100" src="~/Images/111.JPG" />
        </div>
    </div>

 
</div>