@{
    ViewData["Title"] = "Renforcement de capacités";
}

<div class="container py-5">

    <div class="row">

        <div class="col-4">

            <img class=" img-fluid pb-3 " src="~/images/IMG_8173.jpg" />
            <img class=" img-fluid" src="~/images/IMG_8176.jpg" />
        </div>

        <div class="col-8 my-auto">
            <img class="img-fluid pt-3" src="~/images/IMG_8193.jpg" />
        </div>


    </div>

    <div class="text-danger title pt-3">
        <p><strong>Séminaires de reenforcement des capacités :</strong></p>
    </div>
    <div>
        <p class="paragraphe">
            Nous proposons aux administrations publiques et privées et aux institutions nationales,
            régionales et internationales des séminaires de renforcement des capacités de durée moyenne
            de trois (3) jours à travers une offre large et diversifiée sur des thématiques pointues de
            gestion, de politique publique et de stratégie.
            <br /><br />
            Notre agenda est décliné en séminaires de haut niveau programmés ou en séminaires in situ.
        </p>

        <div class="row">
            <div class="col-8">
                <ul class="paragraphe">
                    <li>Média training ;</li>
                    <li>
                        Leadership transformationnel de l’Etat :
                        l’Etat acteur et stimulateur de l’innovation politique,
                        économique et sociale ;
                    </li>
                    <li>Passation des marchés publics ;</li>
                    <li>Gestion de projets complexes ;</li>
                    <li>Contrôle de gestion ;</li>
                    <li>Commerce international ;</li>
                    <li>Analyse des besoins en formation ;</li>
                    <li>La stratégie d’entreprise ;</li>
                    <li>Gestion Prévisionnelle des Emplois et des Compétences ;</li>
                    <li>Communication des entreprises ;</li>
                    <li>Stratégies d’intégration et de diversification des activités des entreprises ;</li>
                    <li>Stratégies financières ;</li>
                    <li>Le contrat de crédit bancaire.</li>
                </ul>
            </div>
            <div class="col-4">

                <img class=" img-fluid pb-1 w-75 " src="~/images/livre-3.jpeg" />
                <img class=" img-fluid w-75" src="~/images/livre-3.jpeg" />
            </div>
        </div>
    </div>
 </div>