<!-- Sidebar-social-icons -->
<div class="social-icons">
    <a href="#" class="linkedin-btn">
        <i class="fab fa-linkedin"></i>
    </a>
   
    <a href="#" class=" instagram-btn">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://web.facebook.com/swissumefuniversityniger/?_rdc=1&_rdr" class="facebook-btn">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/swiss_umef?lang=en" class="twitter-btn">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.youtube.com/SwissUmefGeneva" class="youtube-btn">
        <i class="fab fa-youtube"></i>
    </a>
</div>